[include kiauh_macros.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_1620000AA39869AF2C4A405EC22000F5-if00
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100

[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 16
endstop_pin: !P1.29
position_endstop: 0
position_max: 230
homing_speed: 50

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 16
endstop_pin: !P1.28
position_endstop: 0
position_max: 230
homing_speed: 50

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
rotation_distance: 8
microsteps: 16
endstop_pin: !P1.27
position_endstop: 0.0
position_max: 250

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 32,78
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 21.1344
pid_Ki: 1.5157
pid_Kd: 73.6747
min_temp: 0
max_temp: 275

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
control: pid
pid_Kp: 77.7391
pid_Ki: 11.1422
pid_Kd: 361.5905
min_temp: 0
max_temp: 100

[bed_mesh]
mesh_min: 0,13
mesh_max: 230,227
probe_count: 10,10
fade_end: 10.0

[bed_screws]
screw1: 31,199
screw1_name: front right
screw2: 199,199
screw2_name: front left
screw3: 199,31
screw3_name: back left
screw4: 31,31
screw4_name: back right

# where I left off: https://www.klipper3d.org/Config_Reference.html#customized-homing


[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/gcode_files

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000